body{
    display: flex;
    justify-content: center;
    background: rgb(17, 17, 17);
}

#main-container{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-left: 15%;
    margin-right: 15%;
    height: 500px;
    width: 75%;
    background: rgb(4, 99, 143);
    border: 7px double rgb(4, 23, 44);
    border-radius: 20px;

}

#result-area{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 0.3;
    border-radius: 10px;
    margin: 5px;
    padding-right: 15px;
    /* margin: 5px;
    align-self: flex-start;
    justify-self: flex-end; */
    background-color: rgb(29, 29, 31);
    color: green;
}

#player-area{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgb(9, 88, 82);
    flex: 0.7;
    border-radius: 10px;
    margin: 5px;
}
img {
    width: 80%;
    margin: 10px;
    /* min-width: 280px; */
  }
img:hover{
    border: 5px solid rgb(14, 44, 32);
    border-radius: 50%;
    box-shadow: 0px 0px 18px rgb(39, 160, 216);
}
#result-area > p{
    font-size: large;
    font-weight: 600;
    margin-left: 70px;
    font-family: 'Comfortaa', cursive;
}